@mixin item-figura($child) {
    @if $child == 1 {
        background-color: red;
    } @else {
        background-color: yellow;
    }
    width: $size_items;
    height: $size_items;
    &#conboton {
        color: brown !important;
    }
}