@import 'variables';
@import 'mixins';

#figura {
    width: $size;
    height: $size;

    &:hover {
        background-color: aqua;
        div {
            display: none;
        }
    }

    & > div {
        &:nth-child(1) {
            @include item-figura(1);
        }
        &:nth-child(2) {
            @include item-figura(2);
        }
    }
}

// @import 'clases';