#container {
    display: grid;
    width: 400px;
    height: 200px;
    background-color: cadetblue;
    /* grid-template-columns: 1fr 20px repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr); */
    grid-template: repeat(2, 1fr) / 1fr 20px repeat(5, 1fr);
    grid-template-areas:
        "conjunto1 conjunto1 conjunto2 conjunto3 conjunto3 conjunto3 conjunto3"
        "conjunto1 conjunto1 . conjunto3 conjunto3 conjunto3 conjunto3"
}

.item {
    width: 20px;
    height: 20px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.column-2 {
    grid-column-start: 3;
    grid-column-end: 8;
    grid-row-start: 2;
}

.rojo {
    background-color: red;
    justify-self: center;
    align-self: center;
}
.azul {
    background-color: blue;
}
.violeta {
    background-color: violet;
}
.verde {
    background-color: green;
}
.cafe {
    background-color: brown;
}

.child-grid {
    background-color: black;
    /* grid-column-start: 2; */
    /* grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 2; */
    grid-area: conjunto3;
}